.category-card {
  @include flexRow();
  justify-content: space-between;
  text-align: start;
  padding-left: 20px;
  border-radius: 10px;
  background-color: $color-white;
  width: 100%;
  height: 178px;

  a {
    font-size: 14px;
  }
  .card-title-wrapper {
    @include flexColumn();
    place-content: center;
    padding-bottom: 20px;
    h2 {
      color: $color-default;
    }
  }
  figure {
    margin: 20px 20px 10px 40px;
    img {
      height: 100px;
      width: 100px;
    }
    p {
      padding: 4px 0px;
      background-image: url(/public/icon/arrow-right.svg);
      background-repeat: no-repeat;
      background-position: 80px;
      font-weight: $font-weight-6;
      color: $color-primary;
    }
  }
}

// featured card
.featured-card-wrapper {
  @include flexColumn();
  background-color: $color-white;
  border-radius: 15px;
  height: 230px;
  width: auto;

  figure {
    display: flex;
    @include AlignAllCenter();

    .featured-card-img {
      height: 125px;
      width: 135px;
    }
  }
  .item-price-wrapper {
    @include flexColumn();
    padding-left: 15px;
    padding-bottom: 15px;
    text-align: start;
    justify-content: space-between;
    height: 100%;
  }
}

// all product card
.all-product-card {
  @include flexColumn();
  background-color: $color-white;
  border-radius: 15px;
  height: auto;
  width: 165px;
  padding: 15px 10px;

  figure {
    display: flex;
    @include AlignAllCenter();

    .featured-card-img {
      height: 125px;
      width: 135px;
    }
  }
  .item-price-wrapper {
    @include flexColumn();
    text-align: start;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 5px;
  }
  .__rating-reviews {
    @include flexRow();
    justify-content: space-between;
    div {
      display: inherit;
      @include AlignAllCenter();
      gap: 5px;
    }
  }
}

//popular product card
.popular-card--container {
  @include flexRow();
  gap: 1rem;
  margin-top: $base-margin;
  img {
    @include flexColumn();
    @include AlignAllCenter();
    border-radius: 10px;
    background-color: $color-light-grey-2;
    width: 70px;
    height: 70px;
  }
  div {
    @include flexColumn();
    text-align: start;
    place-content: center;
    justify-content: space-between;
    .rating-reviews {
      @include flexRow();
      justify-content: space-between;

      div {
        @include flexRow();
        @include AlignAllCenter();
        gap: 5px;
      }
    }
  }
}
