.filter-btn {
  display: block;
  @include AlignAllCenter();
  background-image: url("/public/icon/sliders.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  width: 92px;
  height: 41px;
  padding: 10px 15px;
  padding-left: 40px;
  border: 1px solid $color-grey;
  border-radius: 10px;
}

.filter {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 80svh;
  height: 80dvh;
  width: 100%;
  gap: 30px;
  padding: 1rem 0rem 1.5rem 1.5rem;
  background-color: $color-white;
  border-radius: 30px 30px 0px 0px;
  box-shadow: $color-light-grey-2 0px -5px 11px 5px;

  .filter__heading__close {
    @include flexRow();
    padding-right: 1.5rem;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin: 0;
    }
    .close-btn {
      background-image: url("/public/icon/xmark-solid.svg");
      background-repeat: no-repeat;
      height: 20px;
      width: 20px;
    }
  }

  .__category {
    @include flexColumn();

    p {
      margin-bottom: 1rem;
      padding-right: 1.5rem;
    }
    .category__links--container {
      @include flexRow();

      .category__link {
        display: flex;
        @include AlignAllCenter();
        padding: 10px 15px;
        width: 120px;
        height: 25px;
        background-color: $color-white;
        color: $color-grey;
        border-radius: 30px;
      }
      .category__link:hover {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }

  .sort {
    @include flexColumn();

    .sort__container {
      @include flexColumn();
      gap: 12px;
      margin-top: 1rem;

      .sort__container--flexrow {
        @include flexRow();
        gap: 12px;
      }

      .sort__btn {
        width: fit-content;
        font-size: $font-size-xs;
        padding: 20px 15px;
        background-color: $color-white;
        color: $color-default;
        outline: 1px solid $color-default;
        border-radius: 10px;
      }
      .sort__btn:hover {
        outline: 1px solid $color-primary;
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }

  .price-range {
    @include flexColumn();
    padding-right: 1.5rem;

    div {
      margin-top: 1rem;
      @include flexRow();
      justify-content: space-between;
      .price-range__input {
        border: none;
        padding-left: 15px;
        outline: 1px solid $color-grey;
        border-radius: 10px;
        height: 45px;
        width: 155px;
      }
    }
  }
  .filter__btn {
    width: 326px;
    padding: 20px 10px;
    background-color: $color-primary;
    color: $color-white;
    font-weight: $font-weight-6;
    border-radius: 10px;
    border: none;
  }
}
