.email-input {
    @include inputBoxBaseStyle();
    padding-left: 45px;
    background-position: 10px;
    background-image: url('../../../public/icons/mail.svg');
    background-repeat: no-repeat;
}

.password-input {
    @include inputBoxBaseStyle();
    padding-left: 45px;
    background-position: 10px;
    background-image: url('../../../public/icons/lock.svg');
    background-repeat: no-repeat;
}
