// flex layout 
@mixin flexColumn() {
    display: flex;
    flex-direction: column;
}
@mixin flexRow() {
    display: flex;
    flex-direction: row;
}

// sign in and sign up mixin
@mixin mobileXmargin() {
    margin: 0rem 1.5rem;
}
@mixin fontSizeWeight() {
    font-size: $font-size-xs;
    font-weight: 600
}


// aligments
@mixin AlignAllCenter() {
    text-align: center;
    place-content: center;
    justify-content: center;
    align-items: center;
}

//input box 
@mixin inputBoxBaseStyle() {
    color: $color-grey;
    height: 50px;

    border: none;
    outline: 1px solid $color-grey;
    border-radius: 10px;
    margin-bottom: 1rem; 
}