// ----- font import -----
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat&display=swap');

// ----- modern normalize -----
@import 'node_modules/modern-normalize/modern-normalize.css';

* {
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
}
h1,a,p,li,span {
    margin: 0;
}
