.home-container {
  @include flexColumn();
  @include mobileXpadding();

  .search-wrapper {
    @include flexColumn();

    h2 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.home-products-container {
  @include AlignAllCenter();
  border-radius: 20px 20px 0px 0px;
  background-color: $color-light-grey-1;
  padding-bottom: 2rem;

  .product-category-wrapper {
    @include mobileXpadding();

    h3 {
      padding-top: 1.5rem;
      text-align: start;
    }
  }

  .featured-card-container {
    @include mobileXpadding();

    .feature-title {
      @include flexRow();
      align-items: center;
      justify-content: space-between;

      a {
        padding-top: 2px;
        color: $color-primary;
      }
    }
  }
}
