.search {
  @include flexColumn();
  @include mobileXpadding();

  nav {
    p {
      font-weight: $font-weight-6;
    }
    margin-bottom: $base-margin * 2;
  }
  .search-bar {
    margin-bottom: $base-margin * 2;
  }
  .search__latest {
    p {
      margin-bottom: $base-margin;
    }
    .history--wrapper {
      @include flexColumn();

      .history {
        @include flexRow();
        justify-content: space-between;
        background-image: url("/public/icon/clock-regular.svg");
        background-repeat: no-repeat;
        padding-left: 40px;
        margin-bottom: $base-margin;
      }
    }
  }
  .popular-product {
    margin-top: $base-margin;
  }
}
